@use '../../variables' as *;



.navbar {

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 5;
    width: 100%;
    position: sticky;
    top: 0;

    background-color: $bg2;
    font-family: $textPolice !important;

    .navbar-brand {
        font-family: 'FredokaOne', sans-serif;
        color: $Purple;
    }

    .nav-link {
        color: $Purple !important;
    }
}