@use '../../variables' as *;


.blocMood{    
    background-color: $bg2;
    
    

    .container{
        // padding-top: 10%;
        // padding-bottom: 5%;
        display: block;
        justify-items: center;

    
        h1{
            
            color: $Purple;
            font-family: 'FredokaOne', sans-serif;
            
        }

        .card{
            background-color: white;
            border-color: $Purple;
            border-style: solid;
            border-width: 3px;
            border-radius: 30px;

            
        }
        

    }
}