$bg2: #fdf1f0;
$bg: #f2e2ea;

$Purple: #a286b7;


$textBlanc: #fff;
$text2: #1f2937;

$textPolice: 'Poppins';

$marronGlobal: #6b3f2a;
$marronHover: #9e5e41;
$bleuFonce:#1f2937;

@mixin btn-cozy {
    background-color: #fdb99c;
    color: white;
    border: none;
    width: 70%;
}
@mixin cozy {
    background-color: #fdb99c;
    color: white;
    border: none;
    width: 25%;
}
@mixin feel-good {
    background-color:#fec859;
    color: white;
    border: none;
    width: 30%;
}
@mixin emotional {
    background-color: #f7d794;
    color: #5c4b3b;
    border: none;
    width: 30%;
}
@mixin epic {
    background-color: #a66cff;
    color: white;
    border: none;
    width: 25%;
}
@mixin dark {
    background-color: #8c7ae6;
    color: white;
    border: none;
    width: 25%;
}
@mixin relaxing {
    background-color: #7ec8e3;
    color: white;
    border: none;
    width: 25%;
}
@mixin tense {
    background-color: #f5a623;
    color: white;
    border: none;
    width: 25%;
}
@mixin wholesome {
    background-color: #f8a5b6;
    color: white;
    border: none;
    width: 33%;
}