<div class="blocSearch">
    <div class="container px-3">
        <h1 class="fs-1">Nanimiru</h1>
        <form class="search shadow-sm px-2 d-flex align-items-center gap-2" (ngSubmit)="onSearch()" >
            <!-- <img src="icons/search_24dp_A286B7_FILL0_wght400_GRAD0_opsz24.svg" alt=""> -->
            <input class="w-100" type="text" placeholder="Rechercher un animé..." [(ngModel)]="searchTerm" name="searchTerm"/>
            <button  type="submit" (click)="onSearch()" class="border-0 bg-transparent"><img src="/assets/icons/search.svg" alt="icon search"></button>
        </form>
    </div>

</div>
