@use '../../variables' as *;


.blocSearch{    
  background-color: $bg;
  background-image: url('/assets/images/fondSearch.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
    

    .container{
    padding-top: 90px; 
    padding-bottom: 2rem;
    display: block;
    justify-items: center;

    
        h1{
            
            color: $Purple;
            font-family: 'FredokaOne', sans-serif;
            
        }
        
        .search{
            background: white;
            border-radius: 15px;
            border-style: solid;
            border-color: $Purple;
            width: 70%;
            input{
                border-radius: 15px;
                border: none;
                outline: none;
            }
        }
    }
}